// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
//	=Global Functions - Misc
//
// 	Setup and retrieve the project misc configuration
//
// ---------------------------------------------------------------------------- *





// ------------------------------------------------
//	Add a misc config item to the global misc config array
// ------------------------------------------------

@mixin mk-add-misc-config( $name, $key, $value ) {

	$mk-global-misc-config: mk-add-data( __mk_get_global_misc_config_map(), $name, $key, $value ) !global;

}





// ------------------------------------------------
//	Retrieve a misc config from an array
// ------------------------------------------------

@function mk-misc-config( $name, $key: 'base' ) {

	@if ( __mk_get_global_misc_config_map() ) {

		$map: __mk_get_global_misc_config_map();
		$map-name-exists: map-has-key( $map, $name );
		$map-key-exists: null;

		// Check to see if the requested name exists
		@if ( $map-name-exists ) {

			$map-key-exists: map-has-key( map-get( $map, $name ), $key );

		}

		@else {

			@warn "Unknown '#{ $name }' in $mk-global-misc-config.";
			@return null;

		}

		// Check to see if the requested key exists
		@if ( $map-key-exists ) {

			@return map-get( map-get( $map, $name ), $key );

		}

		@else {

			@warn "Unknown '#{ $key }' in $mk-global-misc-config( #{ $name } ).";
			@return null;

		}

	} 

	@else {

		@warn "Global misc config has not yet been set.";
		@return null;

	}

}




// ------------------------------------------------
//	Get the global misc config map
// ------------------------------------------------

@function __mk_get_global_misc_config_map() {

	@return $mk-global-misc-config;

}