// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
// 	=Colours - Grey
//
//	Named after their actual color, these can be used in
//	the color vars further down.
//
// ---------------------------------------------------------------------------- *

	$mk-color--white								: #FFFFFF !default;
	$mk-color--ghost								: #FAFAFA !default;
	$mk-color--snow									: #F9F9F9 !default;
	$mk-color--vapor								: #F6F6F6 !default;
	$mk-color--white-smoke							: #F5F5F5 !default;
	$mk-color--silver								: #EFEFEF !default;
	$mk-color--smoke								: #EEEEEE !default;
	$mk-color--gainsboro							: #DDDDDD !default;
	$mk-color--iron									: #CCCCCC !default;
	$mk-color--base									: #AAAAAA !default;
	$mk-color--aluminum								: #999999 !default;
	$mk-color--jumbo								: #888888 !default;
	$mk-color--monsoon								: #777777 !default;
	$mk-color--steel								: #666666 !default;
	$mk-color--charcoal								: #555555 !default;
	$mk-color--tuatara								: #444444 !default;
	$mk-color--oil									: #333333 !default;
	$mk-color--jet									: #222222 !default;
	$mk-color--black								: #000000 !default;