// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
//	=Utility - Accessibility
//
// 	Display an element at a breakpoint
//
// ---------------------------------------------------------------------------- *

$mk-util-sr-name: sr !default;
$mk-util-sr-selector: mk-get-selector( $mk-util-sr-name, true, $mk-namespace, $mk-util-prefix ) !default;

// Force an accessilibity utility
#{ $mk-util-sr-selector } {

	border: 0 !important;
	clip: rect( 0 0 0 0 ) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;

}